body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,legend,button,form,fieldset,input,textarea,p,blockquote,th,td,strong,span,a {padding:0; margin:0;}
*{font-family:"Œ¢»Ì—≈∫⁄","ÀŒÃÂ",Arial, Helvetica, sans-serif;}
body{-webkit-tap-highlight-color:transparent;}
ul,li{ list-style-type:none;}
img{ border:none;}
a{color: #4a608a;; text-decoration:none; cursor:pointer; outline:none;}
a:focus{outline:none;}
s{ text-decoration: none; }
strong,h1, h2, h3, h4, h5, h6{ font-weight:normal;}
i,em,strong{ font-style:normal;}
input{ cursor:pointer;outline: none;}
table{ border-collapse: collapse; }
u{ text-decoration: none;}

/*æ≈π¨∏Ò*/
.hd{margin: 12px 0 0 14px;}
.hd li{ margin-bottom: 12px;}
.hd li span{display: inline-block;margin-right: 12px; width: 122px;height: 122px;background: #ffa600;border-radius: 6px;}
.btn{width: 422px;height: 50px;line-height: 50px; color: #ee9900; border-radius: 4px;border: 1px solid #ee9900;text-align: center;cursor: pointer;}
.btn1{ margin-bottom: 12px;}
.hive{ background: #ee9900; color: #fff;}

/*¿«»À…±  ◊“≥*/
.index_bg{background: #eee;height:100%;overflow:hidden;}
.index_hd{position: relative; height: 2.375rem;line-height: 2.375rem; background: #29bde0;text-align: center;}
.index_hd ul{padding: 0.625rem 0 0.625rem 0.625rem;}
.index_hd ul li{margin-bottom: 5px; width: 1.125rem;height: 2px;background: #fff;}
.index_bd{ margin: 0.75rem 1.125rem 1.875rem;}
.index_bd .col01{position: relative; margin-bottom: 0.75rem;height: 3.625rem;font-size:1.125rem; line-height: 3.625rem; text-align:center; background: #fff;border: 1px solid #c9c9c9;}
.index_bd .col01 img{position: absolute;top:1.25rem;right: 0.4375rem; width: 0.75rem;}
.index_bd .col02{background: #fff;border: 1px solid #c9c9c9;}
.index_bd .col02 .md_hd{height: 2.75rem;line-height: 2.75rem;font-size: 1.125rem; color: #fbb435;border-bottom: 1px solid #fdd793; text-align: center;}
.index_bd .md_bd{position: relative;}
.index_bd .col02 ul{margin: 1rem 1.56rem 0;}
.index_bd .col02 .content{height: 4.25rem;line-height: 4.25rem;color: #fff; background: #69d1e9; text-align: center;}
.index_bd .col02 p{height: 2.5rem;line-height: 2.5rem; text-align: center;color: #787878;}
.index_bd .next img{position: absolute;top:7.9375rem;right: 0.3125rem; width: 0.875rem;}
.index_bd .point{width: 2.9375rem; margin: -0.5rem auto 0;}
.index_bd .point i{display: inline-block;margin-right: 0.3125rem; width: 0.5rem;height:0.5rem;background: #ccc;border-radius: 50%;}
.index_bd .point i.hive{background: #69d1e9;}
.index_bd .point i:nth-child(4){ margin-right: 0;}

/*¿«»À…± …Ë÷√»À ˝*/
.index_hd h1{font-size: 1.0625rem;color: #fff;}
.index_hd .left img{position: absolute;top:0.5rem;left: 0.625rem; width: 0.781rem;height: 1.25rem;}
.index_hd .right img{position: absolute;top:0.4rem;right: 0.625rem; width: 1.47rem;height: 1.47rem;}
.set_game{margin: 0.625rem;}
.set_game .col01{height: 14.1875rem;background: #fff;}
.set_game .col01 .left{float: left;position: relative; width: 3.75rem;height: 14.1875rem;line-height:1.25rem; border-right: 1px solid #d9d9d9; font-size: 1.125rem;text-align: center;}
.set_game .col01 .left p{position: absolute;top:50%;left: 50%;transform:translate(-50%,-50%); width: 1.125rem;}
.set_game .col01 .right{margin-left:3.75rem;}
.set_game .col01 .md_hd{ padding:1.5rem 0 0 0.9375rem; height: 10.6875rem;overflow: auto;}
.set_game .col01 li{float: left;}
.set_game .col01 span{margin-right: 2.125rem;}
.set_game .col01 span i{margin-right: 0.75rem; display: inline-block;vertical-align: 0.125rem; width: 0.3125rem;height: 0.3125rem;background: #29bde0;}
.set_game .col01 span i.orange{background: #ee9f1b;}
.set_game .col01 .md_bd{height: 1.875rem;line-height: 1.875rem;border-top: 1px solid #d9d9d9;text-align: center;color: #29bde0;font-size: 0.875rem;}
.set_game .col02{margin: 0.3125rem 0;height: 6.25rem;background: #fff;}
.set_game .col02 .md_bd{margin-left: 0.9375rem;height: 2.43rem;line-height: 2.43rem; border-bottom: 1px solid #f0f0f0;font-size: .875rem; color: #d7d7d7;}
.set_game .col03{height: 5.9375rem;background: #fff;overflow: hidden;}
.set_game .col03 .num{margin: 0.625rem 0 1.5rem 0.9375rem;}
.set_game .col03 .num input{width: 1.875rem;height: 1.75rem;text-align: center;font-size: 1rem;}
.set_game .col03 .set_peo{margin-left: 1.875rem;}
.set_game .col03 .box{float: left;margin-top: -0.5rem; width: 1.125rem;height:1.125rem;text-align: center;line-height:1.125rem;color: #fab344;border: 1px solid #d9d9d9;}
.set_game .col03 .middle{float: left;position: relative; margin: 0 0.5rem; width: 12.75rem;height: 0.125rem;background: #ffe6be;}
.set_game .col03 .middle img{position: absolute;top:-0.4rem; width: 1.875rem;height: 0.8125rem;}
.set_game .col04{margin-top:0.5rem; height: 2.75rem;line-height: 2.75rem;color: #fff; background: #fab344;text-align: center;}
/*media-zxl*/
@media only screen and (max-width:320px) {
    html{font-size:14px;}
}
@media only screen and (min-width:412px) and (max-width:479px) {
    html{ font-size: 18px;}
}
@media only screen and (min-width:480px) and (max-width:639px) {
    html{ font-size:20px;}
}
@media only screen and (min-width:640px) and (max-width:735px) {
    html{ font-size:22px;}
}
@media only screen and (min-width:736px) and (max-width:1023px) {
    html{ font-size:24px;}
}
@media only screen and (min-width:1024px) {
    html{ font-size:26px;}
}
