<aside class="backstage_fr backstage_frbg" ng-controller="articleList">
    <header></header>
    <div class="md_hd">
        发布时间
        <input type="text" ng-model="startAt" id="dateStart">
        <em>-</em>
        <input type="text" ng-model="endAt" id="dateEnd">
        类型
        <!--<select ng-model="selectedName" ng-init="selectedName=typeName[0]" ng-options="item for item in typeName">-->
        <!--</select>-->
        <select ng-options="c.id as c.type for c in typeName" ng-model="selectedType">
            <option value="">全部</option>
        </select>
        状态
        <select ng-options="c.id as c.type for c in typeStates" ng-model="selectedStatus">
            <option value="">全部</option>
            <!--<option value="{{x}}" ng-repeat="(x,y) in typeStates">{{y}}</option>-->
        </select>
        <div class="search">
            <s class="red" ng-click="search('','','','')">清空</s>
            <s class="green" ng-click="search(startAt,endAt,selectedType,selectedStatus)">搜索</s>
        </div>
    </div>
    <div class="md_bd">
    <div class="hd">
        <a ui-sref="home.articleAdd">新增</a>
        Article列表
    </div>
    <div class="bd">
        <table width="100%" cellpadding="0" cellspacing="0">
        <tr><th width="6%">ID</th><th>名称</th><th>类型</th><th>发布时间</th><th>修改时间</th><th>发布者</th><th>状态</th><th>操作</th></tr>
        <tr ng-repeat="re in list | orderBy:'createAt':-1"><!--list是对象 re是对象的值-->
            <td>{{re.id}}</td>
            <td>{{re.title|ellipsis}}</td>
            <td>{{re.type|typeVal}}</td>
            <td><span>{{re.createAt|date:"yyyy-MM-dd"}}</span> <span>{{re.createAt|date:"HH:mm:ss"}}</span></td>
            <td><span>{{re.updateAt|date:"yyyy-MM-dd"}}</span> <span>{{re.updateAt|date:"HH:mm:ss"}}</span></td>
            <td>{{re.author}}</td>
            <td>{{re.status|statusVal}}</td>
            <td>
                <em ng-click="fn(re.id,re.status) "ng-if="re.status==2">下线</em>
                <em ng-click="fn(re.id,re.status)" ng-if="re.status==1">上线</em>&nbsp;&nbsp;&nbsp;&nbsp;
                <em ng-click="editor(re.id)">编辑</em>&nbsp;&nbsp;&nbsp;&nbsp;
                <em ng-click="delete(re.id)">删除</em>
            </td>
        </tr>
        </table>
    </div>
    <div class="foot">
        <my-pagination page-option="option"></my-pagination>
    </div>
    <div style="clear: both;"></div>
</div>
</aside>




