<aside class="backstage_fr backstage_frbg" ng-controller="articleAdd">
    <header></header>
    <section>
        <div class="md_bd">
            <div class="hd">
                {{title}}
            </div>
            <ol>
                <li>
                    <i>标题名称</i>
                    <em class="text-danger" ng-show="article.author===''||article.author===undefined">*</em>
                    <input type="text" ng-model="article.author">
                    <!--<button ng-disabled = 'article.author==undefined||selectedType==undefined' ng-click="fn()">好</button>-->
                </li>
                <li>
                    <i>类型</i>
                    <em class="text-danger" ng-show="selectedType===null||selectedType===undefined">*</em>
                    <select ng-options="c.id as c.type for c in typeName" ng-model="selectedType" name="type">
                        <option value="">请选择</option>
                    </select>
                    <select ng-options="c.id as c.type for c in typeIndustry" ng-model="article.industry" ng-show="selectedType===3" style="margin-left: 15px;">
                        <option value="">请选择</option>
                        <!--<option value="{{x}}" ng-repeat="(x,y) in typeIndustry">{{y}}</option>-->
                    </select>
                </li>
                <i style="float: left;width: 100px;">说明</i>
                <div id="editor" ng-model="sendPromt" style="position: relative; margin-left: 100px; width: 600px;">
                    <!--<div ng-bind="10"></div>-->

                </div>
                <li>
                    <i ng-click="fn(selectedType)">跳转链接</i>
                    <em class="text-danger" ng-show="article.url==''||article.url==undefined">*</em>
                    <input type="text" ng-model="article.url">
                </li>
                <li>
                    <div class="fileImage" id="fil eImage">
                        <!--<img ng-src={{article.img}}>-->
                        <img src="{{imgs}}">
                        <!--<img n g-src="{{article.img}}">-->

                        <!--<input type="text" ng-model="article.img">-->
                    </div>
                    <input onchange="angular.element(this).scope().changeImg()" id="fileId" type="file" multiple="multiple" accept="image/png, image/jpeg, image/gif, image/jpg" name="file" />
                    <P>{{url}}</P>
                    <table class="tab" width="100%" cellpadding="0" cellspacing="0">
                        <tr><th>图片名</th><th>文件大小</th><th>进度</th><th>操作</th><th>操作</th></tr>
                        <tr>
                            <td class="imgName"></td>
                            <td class="imgSize"></td>
                            <td>
                                <div id="bar" class="imgshow">
                                    <div id="progress" class="imgshow"></div>
                                </div>
                            </td>
                            <td>{{imgTxt}}</td>
                            <td>
                                <button class="green" ng-click="upload()" ng-disabled="expression">上传</button>
                                <button class="red" ng-click="deleteUpload()" ng-disabled="delete">删除</button>
                            </td>
                        </tr>
                    </table>
                </li>
            </ol>
            <div class="btn">
                <!--<button ng-click="cancel()">取消</button>-->
                <!--<span></span>-
                <!--{{article.author}}-->
                <button ng-click="online(article.author,selectedType,2,article.url,article.img,article.industry)">立即上线</button>
                <span>存为草稿</span>
            </div>
        </div>
    </section>

</aside>
