<div class="panel panel-primary">
    <form name="newArticle" class="form-horizontal">
        <div class="panel-heading">
            <h3 ng-bind="title">{{title}}</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-1 col-md-offset-1">标题名称
                    <span class="text-danger" ng-show="article.title==''||article.title==undefined">*</span>
                </label>
                <div class="col-md-8">
                    <input type="text" name="title" ng-model="article.title" class="form-control" required>
                    <span class="text-danger" ng-show="(article.title==''||article.title==undefined)&&newArticle.title.$touched">标题不能为空</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 col-md-offset-1 ">类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型
                    <span class="text-danger" ng-show="article.type==''||article.type==undefined">*</span>
                </label>
                <div class="col-md-2">
                    <select class="form-control" ng-model="article.type" name="type" required>
                        <option value="">请选择</option>
                        <option value="{{x}}" ng-repeat="(x,y) in types">{{y}}</option>
                    </select>
                    <span class="text-danger" ng-show="(article.type==''||article.type==undefined)&&newArticle.type.$touched">类型不能为空</span>
                </div>
                <div class="col-md-2" ng-show="(article.type==3)">
                    <select class="form-control" ng-model="article.industries" name="type" ng-disabled="(article.type!=3)" required>
                        <option value="">请选择</option>
                        <option value="{{x}}" ng-repeat="(x,y) in industries">{{y}}</option>
                    </select>
                    <span class="text-danger" ng-show="(article.type==''||article.type==undefined)&&newArticle.type.$touched">类型不能为空</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1  col-md-offset-1 ">说&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;明</label>
                <div class="col-md-8">
                    <div id="explain">
                        <p>wangeditor</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-1  col-md-offset-1 ">跳转链接
                    <span class="text-danger" ng-show="article.url==''||article.url==undefined">*</span>
                </label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="article.url" name="url" required>
                    <span class="text-danger" ng-show="(article.url==''||article.url==undefined)&&newArticle.url.$touched">url不能为空</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-8 col-md-offset-1">配&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图
                    <span class="text-danger" ng-hide="imgTrue">*</span>
                </label>
            </div>
            <upload-file img-url="imgUrl" xx-Url="xxUrl" ng-model="myimgUrl" ng-model="imgTrue" myimg-Url="myimgUrl" img-true="imgTrue"></upload-file>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <!-- <button ng-click="immediately(2)" class="btn btn-success" type="button" ng-disabled="(article.title == undefined) || (article.url == undefined) || (logoUrl == undefined) || (article.type == undefined)">立即上线</button>
                        <button ng-click="immediately(1)" class="btn btn-success" type="button" ng-disabled="(article.title == undefined) || (article.url == undefined) || (logoUrl == undefined) || (article.type == undefined)">存为草稿</button>
                        <button class="btn btn-default pull-right" type="button" ng-click="canceled()">取消</button> -->
                    <button ng-click="upLoad(1)" class="col-md-2 btn btn-success" ng-disabled="((article.title==undefined)||(article.type==undefined)||(article.url==undefined)||(imgTrue!==true))">立即上线</button>
                    <button ng-click="upLoad(2)" class="col-md-2  col-md-offset-1 btn btn-warning" ng-disabled="((article.title==undefined)||(article.type==undefined)||(article.url==undefined)||(imgTrue!==true))">存为草稿</button>
                    <button class="col-md-2 btn btn-default float-right" ng-click="cancle()">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>